<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="bg-sky-500 flex justify-center items-center h-[10vh] w-[100%]">
            <ul class="flex gap-[40px] text-white ">
                <li><a href="/" class="hover:text-sky-800">Home</a></li>
                <li><a href="/adicionar" class="hover:text-sky-700">Adicionar</a></li>
                <li><a href="/listar" class="hover:text-sky-700">Listar</a></li>
                <li><a href="/actualizar/{{id}}" class="hover:text-sky-700">Actualizar</a></li>
                <li><a href="/apagar" class="hover:text-sky-700">Apagar</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}
</body>

</html>