<main class="h-[90vh] w-[100%] flex flex-col items-center justify-center gap-[20px]">

    <h1 class="text-6xl font-semibold text-sky-500 animate-bounce">Crie uma lista de carros</h1>

    <span class="text-4xl">Você pode adicionar detalhes</span>
    
    <button class="w-[250px] h-[50px] border-sky-500 border-[2px] text-sky-500 rounded hover:bg-sky-500 hover:text-white active:border-sky-700 active:bg-sky-700" onclick="add_page()">Começar</button>

    <script>
        function add_page() {
            window.location.href = '/adicionar'
        }
    </script>
</main>